:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 37 228 50;
  --oui-color-primary-light: 17 255 0;
  --oui-color-primary-darken: 4 61 0;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 48 145 29;
  --oui-color-link-light: 134 254 154;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 232 17 78;
  --oui-color-danger-light: 250 167 188;
  --oui-color-danger-darken: 237 72 122;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 101 240 194;
  --oui-color-success-darken: 0 161 120;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 229 133;
  --oui-color-warning-darken: 255 152 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 0 0 0;
  --oui-color-fill-active: 0 0 0;

  --oui-color-base-1: 76 107 71;
  --oui-color-base-2: 68 94 64;
  --oui-color-base-3: 60 82 57;
  --oui-color-base-4: 52 70 49;
  --oui-color-base-5: 44 58 42;
  --oui-color-base-6: 36 46 35;
  --oui-color-base-7: 28 34 27;
  --oui-color-base-8: 20 22 19;
  --oui-color-base-9: 16 18 15;
  --oui-color-base-10: 0 0 0;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 41 233 169;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 17 255 0;
  --oui-gradient-primary-end: 37 228 50;

  --oui-gradient-secondary-start: 0 0 0;
  --oui-gradient-secondary-end: 0 0 0;

  --oui-gradient-success-start: 41 223 169;
  --oui-gradient-success-end: 41 233 169;

  --oui-gradient-danger-start: 245 97 139;
  --oui-gradient-danger-end: 232 17 78;

  --oui-gradient-brand-start: 17 255 0;
  --oui-gradient-brand-end: 37 228 50;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 255 209 70;
  --oui-gradient-warning-end: 255 152 0;

  --oui-gradient-neutral-start: 0 0 0;
  --oui-gradient-neutral-end: 0 0 0;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}